/* ============ FONT ======================== */
#fontnav{
    font: 22px arial, sans-serif;
}

#backgroundImage{
    background-image: url("../images/fond.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1500px;
  }
  

/* ================  HEADER ====================== */

.header {
    background-color: white;
    padding: 20px;
    text-align: center;
    font: 20px arial, sans-serif;
    background-image: url("../images/logo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20% 90%;
    height: 100px;
  }

  

  /*============= NAVIGATION BAR * ===============*/

  .footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }


/*============= NAVIGATION BAR * ===============*/
#nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    
}

#navli {
    float: left;   
}

#navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     
}

#navli a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  /* =============== DIGICODE =====================  */


  .buttondigi {
    width: 77px;
    height: 50px;
    margin: 5px;
    font-size: 25px;
    background-color: rgb(226, 226, 226);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.maindigi {
    /*position: absolute;*/
    
    margin-left: 40%;
    margin-top:5%;
    margin-bottom: 5%;
}

.textviewdigi {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    width: 260px;
    height: 50px;
    margin: 5px;
    font-size: 25px;
    text-align: right;
}


/* ===================== Index ============================== */



.colonne {
  float : left;
  width: 25%;
  padding: 2%;
  margin: 2%;
 /* box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
  height: 500px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .colonne {
    width: 100%;
  }
}

.boutonIndexVerrou
{
  width: 65%;
  height: 50%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top : 15%;
  background: url("../images/cadenas_fer.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size:100% 90%;
  padding: 0;
  border: none;
}

.boutonIndexVerrou:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.boutonIndexInfo
{
  width: 30%;
  height: 25%;
  margin-left: 65%;
  margin-right: 45%;
  margin-top : 80%;
  background: url("../images/gunnebo_pet2.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size:100% 90%;
  padding: 0;
  border: none;  
}

.boutonIndexInfo:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.boutonIndexParam
{
  width: 30%;
  height: 25%;
  margin-left: 20%;
  margin-right: 80%;
  margin-top : 80%;
  background: url("../images/parametres_old.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size:100% 90%;
  padding: 0;
  border: none;
}

.boutonIndexParam:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.textIndexVerrou
{
 margin-left : 5%;
 font: 43px sans-serif;
 color: azure;
}

.textIndexParam{

  margin-left : 10%;
  font: 35px sans-serif;
  color: azure;
}


.textIndexInfo{
 
  margin-left :67%;
 font: 35px sans-serif;
 color: azure;
}

/* ===================== INFO ============================== */

.InfoColonne {
  width: 90%;
  margin-left : 5%;
  margin-top: 2%;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  height: 500px;
  background: url("../images/fenetre_grande.PNG");
  background-repeat: no-repeat;
  background-position: left;
  background-size:100% 100% ;
}

.InfoFooter {
  height: 100px;
  margin-top: 15px;
  /*box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
}

.InfoBody{
  padding-top: 1%;
  padding-left: 5%;
  font: 25px sans-serif;
  font-size: 15px;
  color: #ddd;
}

.InfoBoutonRetour{
  margin-top: 1%;
  width: 5%;
  height: 75%;
  margin-left: 8%;
  background: url("../images/RETOUR.PNG");
  background-repeat: no-repeat;
  background-position: left;
  background-size:100% 90%;
  padding: 0;
  border: none;
}

.InfoBoutonRetour:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.InfoBoutonOuvrir{
  margin-top: 1%;
  width: 5%;
  height: 75%;
  margin-left: 33%;
  background: url("../images/pet_cadenas_fer.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size:100% 90%;
  padding: 0;
  border: none;
}

.InfoBoutonOuvrir:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




.InfoBoutonAcceuil{
  margin-top: 1%;
  width: 5%;
  height:75%;
  margin-left: 33%;
  background: url("../images/HOME.PNG");
  background-repeat: no-repeat;
  background-position: left;
  background-size:100% 90%;
  padding: 0;
  border: none;
}

.InfoBoutonAcceuil:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
